<div class="container">
	<div class="row">
	    <div class="col-xs-12 col-md-5">
	      	<h3 class="text-center"><strong>Tiempo del pomodoro</strong></h3>
	    </div>
	    <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-3">
	      	<label id="duracionP" name="labelI"></label>
	      	<br>
	      	<input id ="rangeP" type="range" name="rango" min="0" max="90" onmouseup="actualizar(id,'duracionP')">
	    </div>
  	</div>
  	<br>
  	<div class="row">
    	<div class="col-xs-12 col-md-5">
      		<h3 class="text-center"><strong>Sonido temporizador pomodoro</strong></h3>
    	</div>
    <div class="col-xs-offset-4 col-xs-8 col-md-offset-0 col-md-3">
      	<div class="checkbox">
 			<input type="checkbox" data-toggle="toggle">
      	</div>
    </div>
</div>