<div>
	<div class="container">
    	<div class="row">
      		<div class="col-md-5 col-md-offset-1 col-xm-12">
        		<img src="imagenes/pantera.jpg" alt="pantera" width="300" height="350" class="img-rounded">
      		</div>
      		<div class="col-md-5 col-md-offset-1 col-xm-12">
        		<img src="imagenes/logo.jpg" alt="logo" width="300" height="350" class="img-circle">
      		</div>
    	</div>

    <br><br><br>

    <div class="panel-group">
    	<!-- Acerca de pomodor-->
      	<div class="panel panel-primary">
        	<div class="panel-heading">
        		<dt>En que consiste la tecnica Pomodoro</dt>
        	</div>
        	<div class="panel-body"> 
      			La idea principal detrás de esta espectacular técnica es trabajar en las tareas o proyectos del día con la mayor concentración posible en periodos de 25 minutos, separados por pequeños descansos, tratando al mismo tiempo todo tipo de interrupciones que se pueda presentar en el proceso. 
      			Hay que escribir en una hoja una lista de cosas por hacer, se anota cuántos pomodoros te toma para hacer cierta tarea (cada pomodoro son 25 minutos en el temporizador), una lista de actividades no urgentes y urgentes para tratar con las interrupciones que surgen durante el proceso (una regla de esta técnica es nunca parar el pomodoro)
      			Al final de cada día se tiene que registrar en una bitácora todos los pomodoros que se usaron por cada tarea, ya sea digital o manual, esto es para poder analizar el avance que se ha hecho en cuanto a productividad en la organización del tiempo.
      			Los resultados a largo plazo con cada semana que pasa, para aquellos que usan esta técnica, se verán reflejados con mayores resultados en cuanto a disminución de ansiedad por las tareas pendientes, mayor aprovechamiento de tiempo, incremento de motivación, entre otras.
        	</div>
      		</div>
      		<!-- Como nace enfocate-->
    		<div class="panel panel-info">
        		<div class="panel-heading">
        			<dt>Como nace enfocate</dt>
        		</div>
    			<div class="panel-body">
      				Existen 3 problemas que surgen al practicar esta técnica. La primera es que se necesita un temporizador de cocina para tomar el tiempo en el que estás enfocado en alguna tarea o proyecto. Para las personas que viajan mucho o no pasan tiempo en un escritorio o en su casa, resulta complicado cargar con un temporizador por todos lados. La segunda es cargar con tu lista de cosas por hacer durante el día . El tercer problema y el más importante es la realización de la bitácora, donde se analizan, se sacan estadisticas de tu productivad del día.
      				Estas tres tareas extras que son necesarias para aplicar esta técnica, quitan una fracción de tiempo importante de nuestro día. Es por eso que surge “Nfocate”, la aplicación web que sirve para asistir al usuario que aplica la “Técnica Pomodoro” a ayudarlo a disminuir o borrar el tiempo invertido en estos 3 problemas.
    			</div>
      		</div>
        
     		<div class="panel panel-primary">
        		<div class="panel-heading">
        			<dt>Enfocate, la mejor herramienta para ser productivo</dt>
        		</div>
        		<div class="panel-body">
		          	Nfocate es una aplicación en la que tendrás acceso por medio a una cuenta personal en donde podrás escribir tu lista de quehaceres, tus estimaciones de pomodoros por cada tarea, un temporizador digital que contará tu tiempo de cada pomodoro y de los descansos, con la posibilidad de anotar una lista de actividades urgentes y no urgentes. Finalmente contará con una herramienta de análisis de datos que guardará automáticamente la información al mismo tiempo en el que estés usando este método, para que puedas visualizarla cuando mejor te convenga.
		        </div>
      		</div>    
    	</div>
  	</div>
</div>