<div>
	<div class="container">
	    <div class="row">
		    <div class="col-md-offset-2 col-md-9 col-xm-offset-2 col-xm-10">   
		    <!-- Carousel-->     
		        <div id="myCarousel" class="carousel slide" data-ride="carousel">
			        <!-- Indicadores-->
			        <ol class="carousel-indicators">
			            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			            <li data-target="#myCarousel" data-slide-to="1"></li>
			            <li data-target="#myCarousel" data-slide-to="2"></li>
			        </ol>
		          	<!-- Primera Imagen-->
		         	<div class="carousel-inner" role="listbox">
		            	<div class="item">
		              		<img src="imagenes/1.jpg" alt="pomodoro" width="200" height="170">
		              		<div class="carousel-caption">
		                		<h3>La mejor técnica de todos los tiempos</h3>
				                <p>
				                Ejecútala todos los días y aumenta tu productividad
				                No te arrepentirás.
				                </p>
		              		</div>
		            	</div>
		            	<!-- Segunda imagen-->
		            	<div class="item">
		              		<img src="imagenes/2.jpg" alt="pomodoro2" width="200" height="170">
		              		<div class="carousel-caption">
		                		<h3>Enfocate te ayuda a superarte</h3>
		                		<p>Proyecto produciodo por alumnos de la UAM-C</p>
		              		</div>
		            	</div>
		            	<!-- Tercer imagen-->
		            	<div class="item active">
		              		<img src="imagenes/3.png" alt="enfoque" width="200" height="170">
		              		<div class="carousel-caption">
		                		<h3>Logra tus metas</h3>
		                		<p>Prueba enfocate y lograrás todas tus metas</p>
		              		</div>
		            	</div>
		            	<!-- botones de cambio de imagen-->
		            	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		              	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		              	<span class="sr-only">Anterior</span>
		            	</a>
		          
		            	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		              	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		              	<span class="sr-only">Siguiente</span>
		            	</a>
		          	</div>
		        </div><!-- Carousel final-->
		    </div>
	    </div><!-- row1 final-->
	  
	    <br><br><br>
	    <div class=" row">
	      	<div class="col-md-offset-1 col-md-11 col-xm-offset-1 col-xm-11">
	        	<div class="panel panel-primary">
	          		<div class="panel-heading"><dt>Enfocate</dt></div>
	            		<div class="panel-body">
	               			“Nfocate” es un aplicación web que sirve para asistir aquella persona que esté usando la famosa “Técnica Pomodoro”. Pomodoro es un método dirigido a aumentar la productividad de organización de tiempo, creado por Francesco Cirillo
	            	</div>
	        	</div>
	      	</div>
	   	</div>
	</div>
</div>