<div ng-controller="tareasController" class="container">
  <h2>Tareas</h2>
  <div class="addTarea">
    <div class="form-group row justify-content-center addTarea">
      <div class="col-md-12">
        <input ng-model="nombreTarea" id="newTareaTxt" type="text" class="form-control" id="createTarea" placeholder="Añade una tarea nueva">
        <div class="addButton">
        <input ng-click="addTarea()" id="createTareaAction" class="btn btn-primary" type="button" value="Añadir">
        </div>
      </div>
    </div>
    <div class="form-group row">
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="tarea in tareas | filter: { estado: false }">
      <div class="row">
        <div class="col-xs-8">
          <div class="fleft list-action btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="removeTarea(tarea)">Eliminar</a></li>
            </ul>
          </div>
          {{ tarea.nombre }}
        </div>
        <div class="col-xs-4">
          <ul class="list-inline fright">
              <li><span class="label label-danger">{{ muestraUrgente(tarea.tipoTarea) }}</span></li>
              <li><span class="label label-primary label-as-badge">{{ getTiempoTotalPomos(tarea.pomodorosUsados) }}</span></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
	
  <p class="h4">Tareas terminadas</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="tarea in tareas | filter: { estado: true }">
      <div class="row">
        <div class="col-xs-8">
          <div class="fleft list-action btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="removeTarea(tarea)">Eliminar</a></li>
            </ul>
          </div>
          {{ tarea.nombre }}
        </div>
        <div class="col-xs-4">
          <ul class="list-inline fright">
              <li><span class="badge">{{ getTiempoTotalPomos(tarea.pomodorosUsados) }}</span></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  
  <p>Hola {{ nombre }} tu id es: {{id}} !</p>
</div>
<script type="text/javascript" src="./js/lists.js"></script>