<div>
    <div class="container">
        <!--fila 1 -->
        <div class="row">
            <div class="col-xs-12 text-muted text-center ">
                <h1>Inicia sesión en Enfocate</h1>
            </div>
        </div>

        <form class="form-horizontal" ng-submit="login(logData)">
            <!-- Email -->
            <div class="form-group">
                <label class="control-label col-xm-2 col-md-2" for="email">Email:</label>
                <div class="col-xm-6 col-md-5 col-md-offset-2">
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu email" ng-model="logData.email">
                </div>
            </div>
            <!-- password -->
            <div class="form-group">
                <label class="control-label col-xm-2 col-md-2" for="pwd">Contraseña</label>
                <div class="col-xm-10 col-md-5 col-md-offset-2">
                    <input type="password" class="form-control" id="pwd" placeholder="Ingresa tu contraseña" ng-model="logData.password">
                </div>
            </div>
            <!-- boton enviar -->
            <div class="form-group">
                <div class="col-xm-offset-2 col-xm-10 col-md-offset-4 col-md-8">
                    <button type="enviar" class="btn btn-default btn-lg glyphicon glyphicon-envelope"> Enviar</button>
                </div>
            </div>

            <!-- olvidaste tu contraseña -->
            <div class="row">
                <div class="col-xm-offset-2 col-xm-10 col-md-offset-4 col-md-8">
                    <label class="control-label" for="forgot"><a href="">¿Olvidaste tu contraseña?</a></label>
                </div>
            </div>
            <div class="row">
                <div class="col-xm-offset-2 col-xm-10 col-md-offset-4 col-md-8">
                    <label class="control-label" for="snReg"><a href="#/registro">¿No estas registrado?</a></label>
                </div>
            </div>
        </form>
    </div>
</div>  