<div ng-controller="loginController">
  <form ng-submit="login(regData)">
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="regData.email"></input>
    </div>
    <div class="form-group">
      <label for="passwordInput">Contraseña</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="regData.password"></input>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>
</div>  