<div>
	<div class="container">
    	<div class="row">
      		<div class="col-md-12 col-xm-12 text-center">
        		<font size="50%" color="#692222">¡Que no te cuenten!</font>
        		<p>Enfocate ha cambiado la vida de muchas personas que se han dado la oportunidad de conocer nuestro producto. Te mostramos las opiniones de algunos de nuestros usuarios elegidos al azar y verás que te estás perdiendo una gran oportunidad para lograr tus metas.</p>
      		</div>
    	</div>
    
    	<br><br><br>
    
    	<div class="row">
      		<div class="col-md-4 col-xm-12">
        		<img src="imagenes/p1.jpg" alt="sthepen" class="img-circle person" width="200" height="200">
        		<p>Llevo ya dos meses usando la aplicación de Enfocate y me ha encantado. Gracias a él mi tiempo se a aprovechado al máximo y he podido centrarme al 100% en mis investigaciones, logrando los mayores descubrimientos. Exploten y aprovechen Enfocate, no se arrepentiran.</p>
        		<br>
      	  		<i>Dr. Stephen William  Hawking</i>   
      		</div>
	      	<div class="col-md-4 col-xm-12">
	        	<img src="imagenes/p2.jpg" alt="penialosa" class="img-circle person" width="200" height="200">
	        	<p>El tiempo es lo mas preciado y el que menos debe de ser desperdiciado. Por ello Enfocate ha pasado ha ser herramienta de gran importancia en mi vida pues con ella logro completar la lista enorme de tareas y actividades de mi día a día. </p>
	        	<br>
	        	<i>Dr. Eduardo Peñalosa Castro</i>
	      	</div>
	      	<div class="col-md-4 col-xm-12">
	        	<img src="imagenes/p3.jpg" alt="jaimes" class="img-circle person" width="200" height="200">
	        	<p>¡ Jamás soltaré esta aplicación ! Es estupenda, siempre estoy al día con mi nivel de productividad. Las tareas que antes no lograba completar, que se me complicaban mucho; ahoracon Enfocate he podido realizarlas y hasta me ha quedado tiempo desobra para realizar más tareas pendientes. Eso me ecanta, ahora soy superproductivo.</p>
	        	<br>
	        	<i>Dr. Antonio Lopez Jaimes</i>
	      	</div>
    	</div>

    	<br><br><br>

    	<div class="row">
      		<div class="col-md-4 col-xm-12">
        		<img src="imagenes/p4.jpg" alt="abel" class="img-circle" width="200" height="200">
        		<p>Sin duda alguna les recomiendo Enfocate. Si realmente estás luchando por tu sueños utiliza Enfocate y verás que es una gran herramientas para poder realizarlos. Si a mi me sirvió te aseguro que a tí también y verás que te encantará. </p>
        		<br>
        		<i>Dr. Abel Najera García</i>
      		</div>
	      	<div class="col-md-4 col-xm-12">
	        	<img src="imagenes/p5.jpg" alt="karen" class="img-circle" width="200" height="200">
	        	<p>Es una app web muy fácil de usar y gracias a su portabilidad, siempre estoy al tanto de la efectividad de mi día. Me ha ayudado a tomar mejores decisiones gracias a sus estadísticas tan precisas.</p>
	        	<br>
	        	<i>Dr. Karen Miranda Campos </i>
	      	</div>
	      	<div class="col-md-4 col-xm-12">
	        	<img src="imagenes/p6.jpg" alt="franco" class="img-circle" width="200" height="200">
	        	<p>Siempre esta app me acompañará a todos lados. Mis mayores recomendaciones de Enfocate </p>
	        	<br>
	        	<i>Dr. Luís Franco Pérez</i>
	      	</div>
    	</div>
    
    	<br><br><br>

    	<div class="row">
      		<div class="col-md-4 col-xm-12">
        		<img src="imagenes/p7.jpg" alt="mujer1" class="img-circle" width="200" height="200">
        		<p>Antes sentía que la familia, el trabajo y los labores domesticos me estaban acabando. Aveces me sentía frustada y desesperada no poder tener tiempo para mí. Gracias a Enfocate ahora estoy más feliz y me desarrollo mejor con mi entorno porque el tiempo a pasado a ser mi mayor aliado, con decirles que ahora hasta clases de Krav Maga estoy tomando.</p>
        		<br>
        		<i>Katia Flores Flores</i>
      		</div>
	      	<div class="col-md-4 col-xm-12">
	        	<img src="imagenes/p8.jpg" alt="hombre1" class="img-circle" width="200" height="200">
	        	<p>¿Quien no le gustaría poder vivir nuevas experiencias cada día y poder sentirse realizados? Si a tí te gusta tener una vida desorganizada, mundana y frívola, esta aplicación no es para tí.</p>
	        	<br>
	        	<i>Fernando Carbajal Solís</i>
	      	</div>
  		</div>
  	</div>	
</div>