.carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#theCounter {
  border: 1px solid #ddd;
}

.addTarea {
  position: relative;
}

.addTarea .addButton {
  position: absolute;
  right: 0px; top:0;
}

.areaTarea {
  position:relative
  padding:.2em 1ex .2em;
  margin:0 0 1em;
  background-color:#f5f4f2;
}

.areaTarea .badge {
  background-color: red;
}
