.carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#theCounter {
  margin: 0 auto;
  width: 100%;
  border: 1px solid #ddd;
}

.dropdown-menu a {
  cursor: pointer;
}

.list-action button {
  margin:0 1em 0 0;
  padding: 0 6px;
}

.fleft {
  float:left;
}

.fright {
  float: right;
}

.f-width {
  width: 100% !important;
}

.label-as-badge {
    border-radius: 1em;
}

.canvas-container {
  margin: 0 auto;
  max-width: 500px;
}

.addTarea {
  position: relative;
}

.addTarea .addButton {
  position: absolute;
  right: 15px; top:0;
}

.areaTarea {
  position:relative
  padding:.2em 1ex .2em;
  margin:0 0 1em;
  background-color:#f5f4f2;
}

.areaTarea .badge {
  background-color: red;
}

.my-form-position {
  position:relative;
  padding-right:6em;
}

.my-form-position .floater-right {
  position:absolute;
  width:5.8em;
  right:0;
  top:0;
}